$theme-colors: (
        "primary": #FCFCFC,
        "secondary": #A61711,
        "danger":#FF8F18,
        "dark": black,
        "success": green
);

.logo {
  width: 200px !important;
  height: auto;
}
@import "node_modules/bootstrap/scss/bootstrap";